venv/
out/
MNIST/
FMNIST/
*.pyc
*.DS_Store
notebooks/.ipynb_checkpoints/
.ipynb_checkpoints/
*.torch
*.sh
*.npy
*.pt
*.wav
*.pd_darwin
*.pd_linux
*_x86_64
*_i386
*/build/
*.tar
notebooks/*.png
*.pth
bin/*
*/libtorch/
*.patch
*/fftw*
notebooks/*.eps
*/vae_sampler*
*.torchscript
*doc/html*
*doc/latex*
